.course_card {
    width: 25rem;
    /* height: 32rem; */
    background: #f8f8f8;
    border-radius: 1rem;
    border: 0.1rem solid #EBEDF4;
    /* padding: 1.5rem; */
    margin: 1.5rem 1rem;
    transition: transform 150ms ease-in-out;
    box-shadow: 1px 1px 10px 0px #cfcfcf;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.course_card:hover {
    transform: translateY(-15px);
    background: #ffffffef;
    box-shadow: 2px 2px 20px 5px #cfcfcf;
}

.course_card_img {
    background-size: cover;
    background-position: center;
    /* height: 16rem; */
    border-radius: 1rem 1rem 0 0;
    /* padding: 1rem; */
}

.courseProgress_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courseContent_box progress {
    width: 75%;
}

.courseContent_box {
    padding: 1rem;
}

.reportData_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reportData_box h1 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.reportData_box span {
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 0.3rem;
    margin: 0 0.3rem;
    border-radius: 3px;
    font-size: 1.2rem;
}

.course_name {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    /* padding: 0.5rem 0; */
}

.course_percentage {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 500;
    color: white;
    padding: 0.25rem 0.7rem;
    background-color: #4a7b71;
    border-radius: 100px;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    /* width: 200px; */
    height: 15px;
    border: none;
    border-radius: 10px;
    background-color: #eceff1;
    overflow: hidden;
    margin: 1rem 0;
}

progress::-webkit-progress-bar {
    background-color: #eceff1;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #4a7b71;
    border-radius: 10px 0 0 10px;
    position: relative;
}

/* Optional: add a white circle (thumb) manually */
.progress-wrapper {
    position: relative;
    display: inline-block;
}

.progress-thumb {
    width: 18px;
    height: 18px;
    background-color: white;
    border: 2px solid #4a7b71;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Move based on progress value */
    left: calc(30% - 9px);
    /* 30% progress minus half thumb size */
}

.enroll_button {
    /* margin: 1rem; */
    border: none;
    background-color: #000000;
    color: white;
    font: 300 0.9vmax "Roboto";
    /* width: 100%; */
    padding: 0.6vmax 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 100px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}