.coursePrice_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courseDate_box{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    /* justify-content: center; */
}
.courseDate_box h2{
    font-size: 1.2rem;
    margin-left: 0.5rem;
}
.course_description{
    font-size: 1rem;
    color: black;
    margin-top: 0.5rem;
    font-weight: 500;
    line-height: 1.3rem;
    padding: 0.5rem 0;
}

/* .enroll_button { */
.view_button {
    /* margin: 1rem; */
    border: none;
    background-color: #4C8070;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}