.register-btn {
    padding: 10px 20px;
    background: linear-gradient(to right, #7c3aed, #3b82f6);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-left: 45%;
  }
  
  .register-btn:hover {
    opacity: 0.9;
  }
  